<a href="https://colab.research.google.com/github/Yunjimin/GUI-project/blob/master/winequality2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
redwine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep = ";", header = 0)
redwine["type"] ="red"

whitewine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv", sep = ";", header = 0)
whitewine["type"] ="white"

wine = redwine.append(whitewine)
wine.columns = wine.columns.str.replace(" ", "_")

wine.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  type
0            7.4              0.70         0.00  ...      9.4        5   red
1            7.8              0.88         0.00  ...      9.8        5   red
2            7.8              0.76         0.04  ...      9.8        5   red
3           11.2              0.28         0.56  ...      9.8        6   red
4            7.4              0.70         0.00  ...      9.4        5   red

[5 rows x 13 columns]

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression(fit_intercept= True)

In [ ]:
X = wine.drop(["type", "quality"], axis = 1)
X.head()

   fixed_acidity  volatile_acidity  citric_acid  ...    pH  sulphates  alcohol
0            7.4              0.70         0.00  ...  3.51       0.56      9.4
1            7.8              0.88         0.00  ...  3.20       0.68      9.8
2            7.8              0.76         0.04  ...  3.26       0.65      9.8
3           11.2              0.28         0.56  ...  3.16       0.58      9.8
4            7.4              0.70         0.00  ...  3.51       0.56      9.4

[5 rows x 11 columns]

In [ ]:
y = wine.quality

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [ ]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.coef_

array([ 5.55618691e-02, -1.29945358e+00, -1.08205046e-01,  4.52070539e-02,
       -3.95901596e-01,  5.76479819e-03, -2.47760359e-03, -5.30023471e+01,
        3.50283862e-01,  7.49149475e-01,  2.78530060e-01])

In [ ]:
X_train.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol'],
      dtype='object')

In [ ]:
lr.intercept_

54.05800385466516

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
np.round(np.sqrt(mean_squared_error(y_test, y_pred)),3)

0.725